@import '../../styles/colors';

table {
    width: 100%;
    text-align: left;
    margin: 50px auto 20px;
    border-collapse: collapse;
    font-size: 15px;

    tr {
        border: 2px solid $primary;

        td {
            width: 100vh;
        }
    }
}