@import '../../styles/colors';

.result {
    text-align: center;

    h3 {
        font-size: 24px;
        letter-spacing: 1.4px;
        text-align: center;
    }

    p {
        font-size: 16px;
        font-weight: 500;

        span {
            color: $primary;
            font-size: 22px;
        }
    }

    .wrong-name {
        margin-bottom: 0px;
        margin-top: 20px;
        padding: 10px;
        font-weight: bold;
        color: $error;
    }

    .empty-name {
        margin-bottom: 0px;
        margin-top: 20px;
        font-weight: bold;
        color: $warning;
    }
}